#title {
    text-align: center;
    margin-top: 2%;;
}

#filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin-left: 1%;
    width: 20%;
}